body {
    font-family: Arial, sans-serif;
    padding: 3rem;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    margin: 0 auto;
}
img {
    max-width: 100px;
    margin-right: 20px;
}
.subtop {
    font-size: 8px;
    margin-top: 10px;
    text-align: center;
}
.subtitle{
    text-align: center;
}
.sub {
    font-size: 8px;
    text-align: center;
    padding: 5px;
}
.title{
    text-align: center;
    font-weight: 900;
    letter-spacing: 2.5mm;
}
.certificate {
    border: 1px solid #000;
    background-color: #CCCCFF;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.course-header table {
    width: 100%;
    font-weight: bold;
    color: white;
}

.course-header th {
    padding: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 100;
    flex: content;
}

.gender {
    font-weight: bolder;
}

.regnum span{ 
    color: rgb(180, 0, 0)
}
.regnum {
    padding-left: 35px;
}
.info-container {
    display: flex;
    padding-left: 20px;
}

.right-info {
    margin-left: 100px;
    font-style: italic;
}
.sub {
    font-size: 8px;
    text-align: center;
}
.refund{
    text-align: center;
    padding: 10px;}
.inf {
    margin: 20px 0;
}
.bord {
    border: 1px solid black;
    
}
.left-info2 {
    margin-left: 5px;
    margin-bottom: 500px;
    border: 1px solid black;
    padding: 0 150px 0 40px;
}
.fee {
    text-align: center;
    border: 1px solid black;
    background-color: #CCCCFF;
    width: 100%;
    padding: 0 100px 0 90px;
    margin-left: -41px;
    font-weight: 900;
    letter-spacing: 2.5mm;
}
.approved {
    text-align: right;
    margin: -20% 30% 10% 0;
    font-weight: bold;
}
.by {
    text-align: right;
    margin: -5% 10% 10% 0;
    font-weight: bolder;
}
.line {
    text-align: right;
    margin: -135px 6% 10% 0;
    font-weight: bolder;
}
.regi {
    text-align: right;
    margin: -120px 14% 10% 0;
    font-weight: bolder;
}
.center-info {
    margin-left: 100px;
}
.note {
    padding: 0 0 10px 20px;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}
.text-size {
    list-style-type: none;
    padding-left: 0;
}
.datebot {
    text-align: right;
    margin-top: -15px;
    font-size: smaller;
}
.ps {
    text-align: center;
    border: 1px solid #000;
    background-color: #CCCCFF;
    font-weight: bolder;
}